/********************
YOUR STYLES
*******************/

/* Layout */
* { box-sizing: border-box; }

section {
  /* Fallback: Floated in No JS */
  float: left;
  padding: 1em;
}

/* clearfix */
section:after {
  content: '';
  display: block;
  clear: both;
}

article {
    margin: 0 auto;
    padding: 10px;
}

h1 {
    font-size: 6em;
    text-align: center;
    text-transform: uppercase;
}


/* Masonry Styling */
section {
  background: rgba(183, 182, 182, 0.75);
  border: 1px solid black;
  /* vertical space between */
  margin-bottom: 10px;
  width: 200px;
}

.tall {
  height: 600px;
}

.med {
  height: 400px;
}

.short {
  height: 200px;
}

/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media screen 
  /* 2560px = 160em */
  and (max-width: 160em)
  /* 1280px = 80em */
  and (min-width: 80em) { 
  
  /* Temporary Styling. Add your own. */
  body {
       background: blue;
  }

}

/* Tablet */
@media screen 
   /* 1279 = 79.9375em */  
  and (max-width: 79.9375em)
   /* 768px = 160em */
  and (min-width: 48em)  {
  
  /* Temporary Styling. Add your own. */
  body {
       background: green;
  }

}

/* Mobile */
@media screen
  /* 767px = 47.9375em */
  and (max-width: 47.9375em)
  /* 320px = 20em */
  and (min-width: 20em) { 
  
  /* Temporary Styling. Add your own. */
  body {
       background: red;
  }
  
}